[Unit]
Description=Snort IDS/IPS
After=network.target

[Service]
ExecStart=/usr/bin/sudo /usr/local/bin/snort -c /etc/snort/snort.conf -i enX0
Restart=always

[Install]
WantedBy=multi-user.target